@model Department
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<br />
<br />
<div>
    <partial name="CreatePartial/Details_Deleted_Partial">

    <a asp-controller="Dept" asp-route-id="@Model.Id" asp-action="Edit" class="btn btn-warning">Edit</a>
    <a asp-action="index" class="btn btn-primary">Back to list</a>
</div>
