@model RoleToReturnDto
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<form asp-action="Delete">
    <input type="hidden" asp-for="id" />
    <partial name="PartialView" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-primary">Back to list</a>
</form>
