.dark-mode {
    background-color: #0a192f !important; /* لون كحلي غامق */
    color: #ffffff !important;
}

    .dark-mode a {
        color: #ffffff !important;
    }

    .dark-mode .navbar {
        background-color: #102a43 !important; /* لون أزرق داكن */
    }

    .dark-mode .container,
    .dark-mode .content,
    .dark-mode .footer {
        background-color: #0a192f !important;
        color: #ffffff !important;
    }
#toggleDarkMode {
    position: fixed;
    top: 10px; /* المسافة من الأعلى */
    right: 10px; /* المسافة من اليمين */
    z-index: 1000; /* تأكد من أنه فوق كل العناصر */
    background-color: #112240; /* لون كحلي غامق */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
