@model Employee

<div class="form-group">
    <label asp-for="Name" class="col-form-label"></label>
    <input readonly asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Age" class="col-form-label"></label>
    <input readonly asp-for="Age" class="form-control" />
    <span asp-validation-for="Age" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Email" class="col-form-label"></label>
    <input readonly asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Address" class="col-form-label"></label>
    <input readonly asp-for="Address" class="form-control" />
    <span asp-validation-for="Address" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Salary" class="col-form-label"></label>
    <input readonly asp-for="Salary" class="form-control" />
    <span asp-validation-for="Salary" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="col-form-label">Is Active</label>
    <div class="d-flex">
        <div class="form-check form-check-inline">
            <input type="radio" asp-for="IsActive" class="form-check-input" value="true" id="isActiveYes" />
            <label for="isActiveYes" class="form-check-label">YES</label>
        </div>

        <div class="form-check form-check-inline">
            <input type="radio" asp-for="IsActive" class="form-check-input" value="false" id="isActiveNo" />
            <label for="isActiveNo" class="form-check-label">NO</label>
        </div>
    </div>

    <span asp-validation-for="IsActive" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="HiringDate" class="col-form-label"></label>
    <input readonly asp-for="HiringDate" class="form-control" />
    <span asp-validation-for="HiringDate" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="CreateAt" class="col-form-label"></label>
    <input readonly asp-for="CreateAt" class="form-control" />
    <span asp-validation-for="CreateAt" class="text-danger"></span>
</div>
<div>
    <label asp-for="Dept" class="col-form-label"></label>
    <input asp-for="Dept.Name" class="form-control" readonly />
    <span asp-validation-for="Dept" class="text-danger"></span>
</div>
<br />